html, body {
    height: 100%;
    width: 100%;
    background-color: #e8c98b;
  }
  
  .navbar {
    background-color: #221803;
    padding: 10px;
    overflow: hidden
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
  }
  
  .navbar a:hover {
    background-color: #537f71;
  }
  
  .logo {
    width: 85px;
    height: 90px;
  }
  
  /*NAVBAR^^*/
  
  .header {
    font-size: 100px;
    font-family: 'Abril Fatface', cursive;
    color: #562104;
  }
  
.inputFormCrime {
  /*make form look cool*/
  font-size: 40px;
  text-align:center;
  font-family: 'Abril Fatface', cursive;
  color: #0b0b0b;
  margin: auto;
  width: 50%;
  padding: 10px;
  
}  
  
 

  input[type=text]{
    padding:20px;
    margin:auto;
    width:70%;
    border-radius:10px;
    border-bottom:1px solid #eee;
  }


/* CSS */
.button-45 {
  background-color: #FFE7E7;
  background-position: 0 0;
  line-height: 65px;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #C7571A;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
  margin-top:20px;
  /*top right bottom left */

  padding: 15px 42px 15px 42px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #DA8E4A;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #DA8E4A;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}
  .viewOthers {
    background-color: #1f2f16;
    padding: 10px;
    overflow: hidden;
  }
  .viewOthers {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
  }
  .viewOthers a:hover {
    background-color: #DA8E4A;
  }


  .text {
    text-align:center;
    font-family: 'Raleway', sans-serif;
    color: #302F2B;
  }
  
  .button {
    margin: auto;
  }
  
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 20px;
  }
  
  .about {
    margin-left: 700px;
  }


.button-27 {
  appearance: none;
  background-color: #000000;
  margin: 30px 500px;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  padding: 30px;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}